/* src/App.css */
.App {
  display: flex;
  flex-direction: column; /* Cambiar la dirección a columna */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3f2e1; /* Verde claro */
}

.logo {
  width: 200px; /* Ajusta el ancho según el tamaño de tu logo */
  margin-bottom: 5px; /* Espacio entre el logo y el formulario */
}

form {
  display: flex;
  flex-direction: column; /* Cambiar la dirección a columna */
  gap: 15px;
  padding: 20px;
  background-color: #f5e3d0; /* Beige */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  color: #664d03; /* Marrón */
}

input[type='text'],
input[type='number'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='checkbox'] {
  margin-right: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5b8c5a; /* Verde oscuro */
  color: #fff; /* Blanco */
  cursor: pointer;
}

button:hover {
  background-color: #41733e; /* Verde más oscuro en el hover */
}